/* FUENTES */
$fuente-primario :"Cinzel",
serif;
$fuente-secundario :"MedievalSharp",
cursive;
$fuente-terciario :"Crimson Text",
serif;


/* FONDOS y */
$color-fondo: #1a1d21;

/* TEXTOS */
$color-texto: #ECEFF4;
$color-apagado: #4C566A;